name: Auto Create Pull Request

on:
  push:
    branches:
      - 'feature/**'
      - 'feat/**'

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pr:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.7
        
    - name: Terraform Init
      working-directory: ./infra
      run: terraform init -backend=false
        
    - name: Terraform Validate
      working-directory: ./infra
      run: terraform validate
